doctype html
html(lang='ru')
  head
    meta(name='viewport', content='width=1024')
    meta(name='keywords', content=locals.keywords)
    meta(name='description', content=locals.description)
    meta(itemprop='image', content='//farm8.staticflickr.com/7079/7064821993_68d9fa0357_b.jpg')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='robots', content='noyaca')
    title= page.metadata.title
    link(rel='canonical', href=locals.url)
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    script(type='text/javascript', src='/js/main.js')
    script(type='application/ld+json').
      {"@context":"http://schema.org","@type":"WebFormHandler","specificationUrl":"https://www.otdelkalux.ru/calc.xml","defaultProperty":[{"@type":"FormProperty","name":"area","defaultValue":"300"},{"@type":"FormProperty","name":"wc","defaultValue":"3"}]}
    link(rel='stylesheet', href='//callbackhunter.com/widget/tracker.css')
    script(type='text/javascript', src='//callbackhunter.com/widget/tracker.js', charset='UTF-8')
    script(type='text/javascript').
      var hunter_code="3bd4004d0ddbdcacdc5bc6e8f9c99066";

  body
    block content
    footer
      p.title Артель Сергея Петунина #{page.metadata.title}
      .info
        div(itemprop='description')
          p
            | Полный комплекс работ по элитному ремонту и внутренней отделке коттеджей, загородных домов и таунхаусов под ключ.
          p
            | Наша специализация: внутренняя отделка, монтаж электрики, сантехники, отопления, а также ландшафтные работы.
        div
          p
            b Офис в Millennium Park
          p(itemprop='address') Московская область, Новорижское ш., посёлок Миллениум Парк, вл. 3041
          p
            a(itemprop='hasMap', target='_blank', href='//maps.yandex.ru/-/CVuAJ6O4') На карте
        div
          p
            b Связаться со мной
          p(itemprop='telephone') +7 (495) 99-88-347
          p(itemprop='telephone') +7 (926) 709-62-18
          p
            a(itemprop='email', href='mailto:hello@otdelkalux.ru') hello@otdelkalux.ru
          br
          p
            b Online
          p.social.flickr
            a(target='_blank', href='//www.flickr.com/photos/otdelkalux/sets') Портфолио на Flickr
          p.social.gplus
            a(target='_blank', rel='author', href='https://plus.google.com/u/0/104572237617615451669') Сергей Петунин на Google+
          p
            a(href='https://www.otdelkalux.ru/') www.OtdelkaLux.ru
        #badge_holder
          .g-page(data-width='180', data-href='//plus.google.com/u/0/104572237617615451669', data-rel='publisher')
      #year
        | © 
        span 2006
        |  «Отделка Люкс»
    // Yandex.Metrika counter
    script(src='//mc.yandex.ru/metrika/watch.js', type='text/javascript')
    script(type='text/javascript').
      try { var yaCounter13794628 = new Ya.Metrika({id:13794628, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { }
    noscript
      div
        img(src='//mc.yandex.ru/watch/13794628', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
